.leaflet-container {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin: 0;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--primary-blue);
  color: var(--primary-white)
}

.map-container {
  width: 100%;
}